@font-face {
    font-family: 'TheFont';
    src:  url('Alegreya/Alegreya-BlackItalic.ttf') format('truetype');
  }

body {
    margin: 0;
    background-color: #f0f0f0;
    font-family: 'TheFont', Tahoma, Geneva, Verdana, sans-serif;
}

#wrapper {
    padding: 8px;
}

#container {
    max-width: 900px;
    margin: auto;
    position: relative;
    top: 32px;

}
.big {
    text-align: center;
    font-size: 80px;
    font-weight: bolder;
    font-family: 'TheFont', Tahoma, Geneva, Verdana, sans-serif;
}

#number {
    font-size: 280px;
    position: relative;
    bottom: 60px;
}

#times {
    position: relative;
    bottom: 100px;
}

button {
    display: block;
    margin: 0 auto;
    background-color: red;
    border: none;
    width: 200px;
    padding-top: 16px;
    padding-bottom: 16px;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    border-radius: 20px;
    margin-top: 16px;
    position: relative;
    bottom: 90px;
    z-index: 10;
    transition: bottom 0.03s linear;
    font-family: 'TheFont';
}

button:hover {
    cursor: grab;
    bottom: 85px;
}

button:active {
    bottom: 75px;
}

#buttonBottom {
    background-color: #cc0000;
    width: 200px;
    height: 70px;
    margin: 0 auto;
    position: relative;
    border: 10px solid #888;
    top: -130px;
    border-radius: 30px;
}